$background-color: #474747;
$elements-color: #686868;
.flex-container {
	background: $background-color;
	width: 100vw;
	// height: 100vh;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-around;
	// align-items: flex-end;
	// align-content: flex-end;
}
.footer {
	background: $elements-color;
	height: 4vh;
	flex: 1;
}
.table {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.table__main {
width: 90vw;
}
.table__body {
	height: 70vh;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
}
.table__sorting {
padding-bottom:10px;
border-bottom: 1px solid $elements-color;
width:90vw;
}
.row {
	border: 1px solid $elements-color;
	border-radius: 3px;
	background: $elements-color;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	min-height: 50px;
	margin-bottom: 10px;
}
.column {
}

.table__pagination{
	padding-top:20px;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.table__pagination--nav{
 margin-right:25px;
}

.table_pagination--rows-per-page{

}